html{
    position: relative;
    min-height: 100%;
}

body{
    background-image: url('images/stars.jpg');
    color: mistyrose;
    margin-bottom: 60px;
    
}
p{
    color: mistyrose;
    
}
.body{
    background-color: black;
}
.big-banner{
    background-color: transparent;
    color: mistyrose;
    text-align: center;
}
.navbar{
    border-bottom: 2px solid pink;
}
.container {
  
    padding: 0 15px;
  }
  
  .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      color: mistyrose;
      border-top: 1px solid pink;
      background-color: #000;
  }